
* {
    margin: 0;
    padding: 0;
    font-family: "anta", sans-serif;
    background-color: rgba(138, 81, 252, 1);
}

img {
    width: 230px;
    height: 230px;
    display: block;
    position: relative;
    left: 40%;
    margin-left: 8px;
}

main {
    background-color: white;
    width: 300px;
    height: 700px;
    left: 39%;
    top: 15px;
    position: relative;
    border-radius: 20px;
}

.converter-de {
    font-size: 14px;
    line-height: 18px;
    width: 80px;
    height: 80px;
    top: 30px;
    left: 20px;
    background: none;
    position: relative;
    color: rgba(119, 119, 119, 1);
}

.converter-para {
    font-size: 14px;
    line-height: 18px;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 20px;
    background: none;
    position: relative;
    color: rgba(119, 119, 119, 1);
}

.valor {
    font-size: 14px;
    position: relative;
    top: 55px;
    left: 24px;
    color: rgba(119, 119, 119, 1);
    background: none;
}

input::placeholder {
    color: rgba(138, 81, 252, 1);
}

input {
    position: relative;
    top: 34px;
    right: 41px;
    width: 239px;
    height: 47px;
    color: rgba(138, 81, 252, 1);
    background: white;
    border-radius: 4px;
    border: 1px;
    border: 1px solid #00ff00;
    line-height: 18px;
    cursor: pointer;
    padding-left: 10px;
}

b {
    background: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    width: 250px;
    height: 48px;
    border-radius: 4px;
    background-color: white;
    color: rgba(138, 81, 252, 1);
    border: 1px solid #00ff00;
    cursor: pointer;
    padding-left: 10px;
}

option {
    color: rgba(138, 81, 252, 1);
    border: 1px solid #00ff00;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

button {
    position: relative;
    width: 250px;
    height: 48px;
    top: 120px;
    left: 20px;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.custom-toast {
    cursor: default !important; /* Impede que o cursor vire 'pointer' */
    width: 400px !important; /* Garantir que a largura seja aplicada */
    height: auto !important; /* Deixa a altura auto-ajustável, mas você pode definir um valor fixo se necessário */
    padding: 20px !important; /* Aumenta o espaçamento interno */
}  

div {
    padding: 0;
    margin: 0;
    width: 0px;
    height: 0;
    background-color: white;
}

.bandeira-converter {
    width: 48px;
    height: 48px;
    top: 10px;
    left: 123px;
    background-color: transparent;
    margin: 0;
}

p {
    width: 90px;
    color: #555555;
    background-color: white;
    position: relative;
    top: 12px;
    left: 101px;
    justify-content: center;
    text-align: center;
}

.valor-converter {
    width: 90px;
    color: #555555;
    background-color: white;
    position: relative;
    top: 12px;
    left: 101px;
    justify-content: center;
    text-align: center;
}

.nome-moeda2 {
    top: 190px;
}

.valor-convertido {
    top: 190px
}

.vector {
    width: 44px;
    height: 44px;
    top: 118px;
    left: 123px;
    background-color: white;
    margin: 0;
}

.bandeira-convertida {
    width: 48px;
    height: 48px;
    top: 180px;
    left: 123px;
    background-color: transparent;
    margin: 0;
}



section {
    width: 280px;
    height: 300px;
    margin-top: 150px;
    margin-left: 8px;
    border-radius: 20px;
    border: 1px;
    background-color: white;
    border: 1px solid #772FD3;
}

@media screen and (max-width:720px) {
    * {
        padding: 0;
        margin: 0;
    }

    img {
        position: relative;
        left: 30vw;
    }

    main {
        position: relative;
        left: 26vw;
    }
}

@media screen and (max-width:500px) {

    * {
        padding: 0;
        margin: 0;
    }

    img {
        position: relative;
        left: 24vw;
    }

    main {
        position: relative;
        left: 20vw;
    }

}

@media screen and (max-width:430px) {

    * {
        padding: 0;
        margin: 0;
    }

    img {
        position: relative;
        left: 20vw;
    }

    main {
        position: relative;
        left: 14vw;
    }
}

@media screen and (max-width:390px) {

    * {
        padding: 0;
        margin: 0;
    }

    img {
        position: relative;
        left: 15vw;
    }

    main {
        position: relative;
        left: 8vw;
    }
}

